<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Apples Ordering</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" (click)="switchToDashboard()">
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" (click)="switchToOrders()">
        <a class="nav-link" >Orders</a>
      </li>
      <li class="nav-item" (click)="switchToUsers()">
        <a class="nav-link">Users</a>
      </li>
      <li class="nav-item "(click)="logout()" *ngIf="checkLoginStatus()">
        <a class="nav-link">Logout</a>
      </li>
      <li class="nav-item" (click)="login()" *ngIf="!checkLoginStatus()">
        <a class="nav-link">Login</a>
      </li>
    </ul>
  </div>
</nav>
